@{
    ViewBag.Title = "Home Page";
}

<div class="panel" style="margin-top:20%" >
    <div class="panel-body">
        <div class="panel-update-content" >
            <div class="row-revenue clearfix">
                <div class="col-md-4 text-center">
                    <h5>الدورات</h5>
                    <h1><i class="fa fa-book"></i> @ViewBag.dt1</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h5>الاستشارات</h5>
                    <h1><i class="fa fa-rss"></i> @ViewBag.dt2</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h5>الفريق</h5>
                    <h1><i class="fa fa-users"></i> @ViewBag.dt3</h1>
                </div>
            </div>
        </div>
    </div>
</div>