USE [FikrGroupDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AboutTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_About] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdvertismentTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertismentTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[height] [nvarchar](50) NULL,
	[width] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdvertismentTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConsultantTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_ConsultantTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactsTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IndexTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_IndexTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobsTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LayoutTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Layout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_News_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[AndroidLink] [nvarchar](max) NULL,
	[IosLink] [nvarchar](max) NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](max) NULL,
	[SectionId] [int] NULL,
	[EnTitle] [nvarchar](max) NULL,
	[ArTitle] [nvarchar](max) NULL,
	[EnDescription] [nvarchar](max) NULL,
	[ArDescription] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeTB]    Script Date: 07/10/2022 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AboutTB] ON 

SET IDENTITY_INSERT [dbo].[AboutTB] OFF
SET IDENTITY_INSERT [dbo].[AdvertismentTB] ON 

INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (1, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/1.png', NULL, NULL, NULL, N'100', N'300')
INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (2, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/2.png', NULL, NULL, NULL, N'250', N'300')
INSERT [dbo].[AdvertismentTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date], [height], [width]) VALUES (3, N'Adv', 1, NULL, NULL, NULL, NULL, N'/assets/images/1.png', NULL, NULL, NULL, N'100', N'300')
SET IDENTITY_INSERT [dbo].[AdvertismentTB] OFF
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7a91a1fa-0e9d-4b2b-8fd7-c041e420581b', N'admin', 0, N'ANJkFVyDwlxqzBheegR/gFf7FF4ywcVOb1TJn4h8w9FWyC8zlHcxk7u9fNuvmA4PEQ==', N'91380b80-ec42-403f-9a07-209ec7226552', NULL, 0, 0, NULL, 1, 0, N'admin')
SET IDENTITY_INSERT [dbo].[ConsultantTB] ON 

INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (1, N'cosultant', 1, NULL, N'عنوان الاستشارة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', NULL, NULL, NULL, NULL)
INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (2, N'cosultant', 1, NULL, N'عنوان الاستشارة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', NULL, NULL, NULL, NULL)
INSERT [dbo].[ConsultantTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (3, N'cosultant', 1, NULL, N'عنوان الاستشارة', NULL, N'هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة , هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة,هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة .
', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ConsultantTB] OFF
SET IDENTITY_INSERT [dbo].[ContactsTB] ON 

INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (1, N'ContactMail', 1, NULL, N'info@ourwebsite.com', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (2, N'Contact Address', 2, NULL, N'No.200 Joseph, Canada 10020', NULL, N'الرياض- المملكة العربية السعودية
                                    <br>
                                        82-شارع مصطفي النحاس-القاهرة', NULL, NULL, NULL)
INSERT [dbo].[ContactsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (3, N'Contact Phones', 3, NULL, N'(61 2) 9251 5600', NULL, N'+1 (0) 101 1234 123 
                                    <br>
                                        +1 (0) 101 1234 123 </span>', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactsTB] OFF
SET IDENTITY_INSERT [dbo].[IndexTB] ON 

INSERT [dbo].[IndexTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (12, N'Customers', 3, N'test', N'اختبار', NULL, NULL, N'/images/quotes/1/2.png', NULL, NULL)
INSERT [dbo].[IndexTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (13, N'Customers', 3, N'test', N'اختبار', NULL, NULL, N'/images/quotes/1/2.png', NULL, NULL)
SET IDENTITY_INSERT [dbo].[IndexTB] OFF
SET IDENTITY_INSERT [dbo].[JobsTB] ON 

INSERT [dbo].[JobsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link]) VALUES (1, N'Careers', 1, N'Jops', N'اسم الشخص', N'Medical Sales Manager Product Manager in Medical Technology Marketing Manager in the Medical Field Warehouse Officer in Medical Technology with a focus on inventory control and sales assistant in medical technology', N'<br>', N'/images/2.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[JobsTB] OFF
SET IDENTITY_INSERT [dbo].[LayoutTB] ON 

INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (2, N'facebook', 1, NULL, NULL, NULL, NULL, NULL, N'fa-facebook', N'https://www.facebook.com/4tarekmohamed', NULL, NULL)
INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (3, N'Twitter', 1, NULL, NULL, NULL, NULL, NULL, N'fa-twitter', NULL, NULL, NULL)
INSERT [dbo].[LayoutTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Mobile], [Phone]) VALUES (4, N'linkedin', 1, NULL, NULL, NULL, NULL, NULL, N'fa-linkedin', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LayoutTB] OFF
SET IDENTITY_INSERT [dbo].[NewsTB] ON 

INSERT [dbo].[NewsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (6, N'News', 1, N'Are cancer drugs approved without sufficient research?', N'هل تتم الموافقة على ادوية السرطان دون ابحاث كافية؟', N'Recent research indicates that only half of the approved cancer drugs are approved', N'تشير الأبحاث الأخيرة إلى أن فقط نصف أدوية السرطان التي تمت الموافقة عليها<br>', N'/up/20171017115729.jpg', NULL, NULL, CAST(N'2017-01-12 00:00:00.000' AS DateTime))
INSERT [dbo].[NewsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (7, N'News', 1, N'Are cancer drugs approved without sufficient research?', N'هل تتم الموافقة على ادوية السرطان دون ابحاث كافية؟', N'Recent research indicates that only half of the approved cancer drugs are approved', N'تشير الأبحاث الأخيرة إلى أن فقط نصف أدوية السرطان التي تمت الموافقة عليها<br>', N'/up/20171017115741.jpg', NULL, NULL, CAST(N'2017-01-12 00:00:00.000' AS DateTime))
INSERT [dbo].[NewsTB] ([Id], [SectionName], [SectionId], [EnTitle], [ArTitle], [EnDescription], [ArDescription], [Image], [Icon], [Link], [Date]) VALUES (8, N'News', 1, N'test', N'هل تتم الموافقة على ادوية السرطان دون ابحاث كافية؟', N'Recent research indicates that only half of the approved cancer drugs are approved', N'تشير الأبحاث الأخيرة إلى أن فقط نصف أدوية السرطان التي تمت الموافقة عليها<br>', N'/up/20171017115753.jpg', NULL, NULL, CAST(N'2017-01-12 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[NewsTB] OFF
SET IDENTITY_INSERT [dbo].[ProductsTB] ON 

SET IDENTITY_INSERT [dbo].[ProductsTB] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[TypeTB] ON 

INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (1, N'Web Design')
INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (2, N'Web Develope')
INSERT [dbo].[TypeTB] ([Id], [Type]) VALUES (3, N'Logo Design')
SET IDENTITY_INSERT [dbo].[TypeTB] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProductsTB]  WITH CHECK ADD  CONSTRAINT [FK_ProductsTB_TypeTB] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTB] ([Id])
GO
ALTER TABLE [dbo].[ProductsTB] CHECK CONSTRAINT [FK_ProductsTB_TypeTB]
GO
