@{
    ViewBag.Title = "Home Page";
}

<div class="panel" style="margin-top:20%" >
    <div class="panel-body">
        <div class="panel-update-content" >
            <div class="row-revenue clearfix">
                <div class="col-md-4 text-center">
                    <h5>البلوج</h5>
                    <h1><i class="fa fa-rss"></i> @ViewBag.dt1</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h5>الجاليري</h5>
                    <h1><i class="fa fa-image"></i> @ViewBag.dt2</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h5>القوائم</h5>
                    <h1><i class="fa fa-cutlery"></i> @ViewBag.dt3</h1>
                </div>
            </div>
        </div>
    </div>
</div>