@using TopWinnerCms.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from g-axon.com/mouldifi4.3/rtl/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Sep 2017 02:15:37 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title>Top Winner | Login</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <!-- /site favicon -->
    <!-- Entypo font stylesheet -->
    <link href="/admin/css/entypo.css" rel="stylesheet">
    <!-- /entypo font stylesheet -->
    <!-- Font awesome stylesheet -->
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet">
    <!-- /font awesome stylesheet -->
    <!-- Bootstrap stylesheet min version -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- /bootstrap stylesheet min version -->
    <!-- Mouldifi core stylesheet -->
    <link href="/admin/css/4ksa-core.css" rel="stylesheet">
    <!-- /mouldifi core stylesheet -->

    <link href="/admin/css/4ksa-forms.css" rel="stylesheet">

    <!-- Bootstrap RTL stylesheet min version -->
    <link href="/admin/css/4ksa-rtl.min.css" rel="stylesheet">
    <!-- /bootstrap rtl stylesheet min version -->
    <!-- Mouldifi RTL core stylesheet -->
    <link href="/admin/css/mouldifi-rtl-core.css" rel="stylesheet">
    <!-- /mouldifi rtl core stylesheet -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->


</head>
<body class="login-page">
    <div class="login-container">
        <div class="login-branding">
            <a href="index.html"><img src="~/images/topwiner.JPG" alt="Mouldifi" title="Mouldifi"></a>
        </div>
        <div class="login-content">
            <h2 class="text-center"><strong>Welcome</strong>, please login</h2>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" name="Email" id="Email" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-replace">
                        <input type="checkbox" id="remeber">
                        <label for="remeber">Remeber me</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>
                <br />
                <h4 class="text-center" style="color:red">@ViewBag.error</h4>
                @*<p class="text-center"><a href="forgot-password.html">Forgot your password?</a></p>*@
            }
        </div>
    </div>
    <!--Load JQuery-->
    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from g-axon.com/mouldifi4.3/rtl/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Sep 2017 02:15:37 GMT -->
</html>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}