@{
    ViewBag.Title = "Home Page";
}

<div class="panel" style="margin-top:20%" >
    <div class="panel-body">
        <div class="panel-update-content" >
            <div class="row-revenue clearfix">
                <div class="col-md-4 text-center">
                    @*<h5>المنتجات</h5>
                    <h1><i class="fa fa-archive"></i> @ViewBag.dt1</h1>*@
                </div>
                <div class="col-md-4 text-center">
                    <h5>المعرض</h5>
                    <h1><i class="fa fa-rss"></i> @ViewBag.dt2</h1>
                </div>
                <div class="col-md-4 text-center">
                    @*<h5>الوظائف</h5>
                    <h1><i class="fa fa-briefcase"></i> @ViewBag.dt3</h1>*@
                </div>
            </div>
        </div>
    </div>
</div>