@{
    ViewBag.Title = "Home Page";
}

<div class="panel" style="margin-top:20%" >
    <div class="panel-body">
        <div class="panel-update-content" >
            <div class="row-revenue clearfix">
                <div class="col-md-12 text-center">
                    <h5>المشاريع</h5>
                    <h1><i class="fa fa-archive"></i> @ViewBag.dt1</h1>
                </div>
                
            </div>
        </div>
    </div>
</div>