<!DOCTYPE html>
<html lang="en">
<head>
    <title>المجد التعليمية </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="المجد التعليمية a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <!-- /fonts -->
    <!-- css files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/footer-pic.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/staff.css" rel="stylesheet" type="text/css" media="all" />
    <link href='/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <!-- navigation -->
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="/images/contact-img1.jpg" height="100" width="100" alt="" class="img-circle img-responsive">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav cl-effect-18">
                        <li><a href="/Contact.aspx" class="page-scroll" data-hover="Portfolio">اتصل بنا</a></li>
                        <li><a href="http://almajdeducation.blogspot.com.eg/" class="page-scroll" data-hover="Portfolio">المدونة</a></li>
                        <li><a href="/Gallary.aspx" class="page-scroll" data-hover="Team">معرض الصور</a></li>
                        <li><a href="/Home/Services" class="page-scroll" data-hover="Contact">خدماتنا</a></li>
                        <li><a href="/About.aspx" class="page-scroll" data-hover="About">من نحن</a></li>
                        <li class="active"><a href="/Index.aspx" class="page-scroll" data-hover="Home">الرئيسية</a></li>
                    </ul>
                </div>



            </nav>
        </div>
    </div>
    <!-- /navigation -->
    <div>
        @RenderBody()
    </div>
    <!-- footer section -->
    <section class="footer-wthree">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in">
                <h3>تابعونا على تويتر</h3>
                <span class="line1"></span>
                <ul class="tweet-agile">
                    <li>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        <p class="tweet-p1">
                            <a href="mailto:support@company.com">almajdeducation</a> شركة المجد التعليمية<a href="https://twitter.com/almajdeducation">
                                <br>
                                https://twitter.com/almajdeducation
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in">
                <span class="line4"></span>
                <h3>تابعونا</h3>
                <span class="line2"></span>
                <ul class="clearfix demo">
                    <li>
                        <img src="/images/footer-pic1.jpg" alt="" class="img-responsive" />
                    </li>
                    <li>
                        <img src="/images/footer-pic2.jpg" alt="" class="img-responsive" />
                    </li>
                    <li>
                        <img src="/images/footer-pic3.jpg" alt="" class="img-responsive" />
                    </li>
                    <li>
                        <img src="/images/footer-pic4.jpg" alt="" class="img-responsive" />
                    </li>
                    <li>
                        <img src="/images/footer-pic5.jpg" alt="" class="img-responsive" />
                    </li>
                    <li>
                        <img src="/images/footer-pic6.jpg" alt="" class="img-responsive" />
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 footer-grid" data-aos="zoom-in" dir="rtl">
                <span class="line5"></span>
                <h3>جديد الأخبار</h3>
                <span class="line3"></span>
                <ul class="footer-news">
                    <li>
                        <div class="news-content" dir="rtl">
                            <a href="https://almajdeducation.blogspot.com.eg/" class="news-header" data-toggle="modal" data-target="#news1">
                                <h4>بلوجر</h4>
                            </a>
                            <p class="news-p1">تابع أهم المواضيع الجديدة عبر بلوجر </p>
                            <p class="news-p2">يهمنا أرائكم </p>
                        </div>

                        <div class="clearfix"></div>
                    </li>
                    <li>


                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <span class="line6"></span>
        </div>
        <p class="copyright">© 2018 المجد التعليمية. All Rights Reserved | Design by <a href="http://accs-it.com/ar/" target="_blank">شركة الأوائل الوطنية</a></p>
        <div class="modal fade" id="news1" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title w3-agile agileits-w3layouts w3layouts">جديد الأخبار</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="/images/news-img1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p class="news-info">شركة المجد للخدمات التعليمية</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="news2" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title w3-agile agileits-w3layouts w3layouts">أخر الأخبار</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="/images/news-img2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p class="news-info">شركة المجد للخدمات التعليمية.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /footer section -->
    <!-- back to top -->
    <a href="#0" class="cd-top">Top</a>
    <!-- /back to top -->
    <!-- js files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/SmoothScroll.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/grayscale.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <script src="/js/top.js"></script>
    <!-- js for banner section -->
    <script src="/js/bgfader.js"></script>

    <!-- /js for banner section -->
    <!-- js for parallax effect -->
    <script src="/js/jarallax.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- /js for parallax effect -->
    <!-- js for footer pic lightbox -->
    <script src="/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('li'));
            $('ul.demo li').picEyes();
        });
    </script>
    <!-- /js for footer pic lightbox -->
    <!-- js for portfolio lightbox -->
    <script src="/js/jQuery.lightninBox.js"></script>
    <script type="text/javascript">
        $(".lightninBox").lightninBox();
    </script>
    <!-- /js for portfolio lightbox -->
    <script src='/js/aos.js'></script>
    <script src="/js/index.js"></script>
    <!-- /js files -->
</body>
</html>
